body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-section{
display: flex;
flex-direction: row;
height: 55px;
border: 1px solid red;
border-collapse: collapse;

}
.left-section{
    display: inline-block;
    border: 2px solid blue;
    width: 400px;
    
    
    
}
.right-section{
    display: inline-block;
    border: 2px solid blueviolet;
    width: 380px;
    
}
.middle-section{
    display: flex;
    flex: 1;
    border: 2px solid blue;
}